### Django ##
*.log
*.pot
*.pyc
__pycache__/
daily_quotes/settings/production.py
daily_quotes/settings/development.py
daily_quotes/db.sqlite3
db.sqlite3
db.sqlite3-journal
media

requirements.txt
notes.txt
celerybeat-schedule.db
quotes_api/management/commands/populate_db.py


.coverage
.coverage.*
.cache
.notsettests.xml
coverage.xml

# Environments #
daily_quotes/settings/.env
daily_quotes/erl_crash.dump
.env
.venv
.env/
.venv/
daily_quotes.log
downloaded_quotes.log

# need to remove file