/* =============== MEDIA QUERIES (EXTRA LARGE DEVICES) =============== */
@media screen and (max-width: 1350px) {
    .container {
    }


}

/* =============== MEDIA QUERIES (LARGE DEVICES) =============== */
@media screen and (max-width: 1245px){
    .container {
        height: auto;
    }


     .sun_div{
        margin-bottom: 5rem;
    }

    .inner_sun{
        height: 3.5rem;
        width: 3.5rem;
        right:27%;
        bottom: 25%;
    }

    .outer_sun{
        height: 7.5rem;
        width: 7.5rem;
    }

    .tags_container{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        gap: .45rem;
        width: 90%;
    }

    .secondary_tags_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

}


/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1000px){
    .container {
        height: auto;
    }

    .tags_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
    }

    .secondary_tags_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


}


/* =============== MEDIA QUERIES (SMEDIUM DEVICES) =============== */
@media screen and (max-width: 800px){
    .container {
    }

     .hero_section{
         min-height: 100vh;
     }

     .sun_div{
        margin-bottom: 5rem;
    }

    .tags_container{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

     .secondary_tags_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }



    /* ========== CREATE A POST SECTION ========== */

    .create_post_container {
        flex-direction: column;
        align-items: center;
    }

    .layout_choice h3,
    .background_color_container h3,
    .font_color_container h3,
    .text_shadow_container h3,
    .font_style_container h3{
        text-align: center;
    }

    .shadow_box{
        justify-content: center;
    }

    .create_quote_post_button{
        margin-bottom: 2rem;
    }
    /* ========== CREATE A POST SECTION ========== */

}


/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 640px){
    .container {
    }

     .hero_section{
        min-height: 100vh;
     }

    .sun_div{
        margin-bottom: 3rem;
    }

    .inner_sun{
        height: 2.5rem;
        width: 2.5rem;
        right:25%;
        bottom: 25%;
    }

    .outer_sun{
        height: 5rem;
        width: 5rem;
    }

    .displayed_tags_container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .selection_form{
        display: flex;
        justify-content: center;
        padding-left: .50rem;
    }

    .get_quote_form{
        margin-top: 1.25rem;
    }

     .secondary_tags_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

       /* ========== CREATE A POST SECTION ========== */

    .create_post_container {
        flex-direction: column;
        align-items: center;
    }

    .layout_choice h3,
    .background_color_container h3,
    .font_color_container h3,
    .text_shadow_container h3,
    .font_style_container h3{
        text-align: center;
    }

    .shadow_box{
        justify-content: center;
    }

    .create_quote_post_button{
        margin-bottom: 2rem;
    }
    /* ========== CREATE A POST SECTION ========== */

}


/* =============== MEDIA QUERIES (EXTRA-SMALL DEVICES) =============== */
@media screen and (max-width: 450px){
     .container {
    }

    .hero_section{
         min-height: 100vh;
    }


    .sun_div{
        margin-bottom: 5rem;
    }

    .inner_sun{
        height: 1.75rem;
        width: 1.75rem;
        right: 25%;
        bottom: 25%;
    }

    .outer_sun{
        height: 3.5rem;
        width: 3.5rem;
    }

     .tags_container{
        height: 4.75rem;
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .secondary_tags_container{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    /* ========== CREATE A POST SECTION ========== */

    .create_post_container {
        flex-direction: column;
        align-items: center;
    }

    .layout_choice h3,
    .background_color_container h3,
    .font_color_container h3,
    .text_shadow_container h3,
    .font_style_container h3{
        text-align: center;
    }

    .shadow_box{
        justify-content: center;
    }

    .create_quote_post_button{
        margin-bottom: 2rem;
    }
    /* ========== CREATE A POST SECTION ========== */


}


