{% extends 'index.html' %}
{% load static %}

{% block title %}
    DrinksAPI
{% endblock %}

{% block main %}
<main>
   <section class="about_section">
        <div class="container">
            <div class="aboutApiDataContainer">
                <div class="pageTitleContainer">
                    <h2>About DrinksAPI</h2>
                </div>

                <div class="about_page_selection_container">
                    <form action="" method="post">
                    {% csrf_token %}
                        <input type="submit" class="about_select_button active_button" name="selected_value" value="President">
                        <input type="submit" class="about_select_button" name="selected_value" value="First Lady">
                        <input type="submit" class="about_select_button" name="selected_value" value="Marcus Aurelius">
                        <input type="submit" class="about_select_button" name="selected_value" value="Confucius">
                    </form>
                    <p>Change quotes by choosing a tag or name above.</p>
                </div>

                <div class="api_example_container" id="api-results">
                    <code class="open_curly_rackets">{</code>
                    <pre class="idBox">
                        <code class="apiNameTitle">"drfapi": </code>
                        <code class="api_drink_name">"{{ tags_data.drfapi }}",</code>
                    </pre>
                    <div class="sectionExpandContainer">
                        <div class="sectionExpand">▾</div>
                        <pre class="idBoxMulti">
                            <code class="apiNameTitle">"info": </code>
                            <code class="multiDataContainer">
                                 <code class="open_curly_rackets">{</code>
                                    {% for i, j in tags_data.info.items %}
                                        <code class="idBoxMultiInner" aria-expanded="true">
                                            <code class="apiNameTitle">"{{ i }}": </code>
                                            <code class="api_drink_name">"{{ j }}",</code>
                                        </code>
                                    {% endfor %}
                                 <code class="closed_curly_brackets">},</code>
                            </code>
                        </pre>
                    </div>
                    <div class="sectionExpandContainer">
                        <div class="sectionExpandTwo">▾</div>
                        <pre class="idBoxMulti">
                            <code class="apiNameTitle">"servers": </code>
                            <code class="multiDataContainer">
                                 <code class="open_curly_rackets">[</code>
                                {% for i in tags_data.servers %}
                                <code class="idBoxMultiInnerTwo" aria-expanded="true">
                                    <code class="apiNameTitle">{{ i }}</code>
                                </code>
                                {% endfor %}
                                 <code class="closed_curly_brackets">],</code>
                            </code>
                        </pre>
                    </div>
                    <div class="sectionExpandContainer">
                        <div class="sectionExpandThree">▾</div>
                        <pre class="idBoxMulti">
                            <code class="apiNameTitle">"external_docs": </code>
                            <code class="multiDataContainer">
                                 <code class="open_curly_rackets">{</code>
                                    {% for i, j in tags_data.external_docs.items %}
                                        <code class="idBoxMultiInnerThree" aria-expanded="true">
                                            <code class="apiNameTitle">"{{ i }}": </code>
                                            <code class="api_drink_name">"{{ j }}",</code>
                                        </code>
                                    {% endfor %}
                                 <code class="closed_curly_brackets">},</code>
                            </code>
                        </pre>
                    </div>

                     <div class="sectionExpandContainer">
                        <div class="sectionExpandFour">▾</div>
                        <pre class="idBoxMulti">
                            <code class="apiNameTitle">"security": </code>
                            <code class="multiDataContainer">
                                 <code class="open_curly_rackets">[</code>
                                {% for i in tags_data.security %}
                                <code class="idBoxMultiInnerFour" aria-expanded="true">
                                    {% for t, u in i.items %}
                                    <code class="apiNameTitle">{{ t }}:</code>
                                    <code class="api_drink_name">{{ u }}</code>
                                    {% endfor %}
                                </code>
                                {% endfor %}
                                 <code class="closed_curly_brackets">],</code>
                            </code>
                        </pre>
                    </div>
                    <div class="sectionExpandContainer">
                        <div class="sectionExpandFive">▾</div>
                        <pre class="idBoxMulti">
                            <code class="apiNameTitle">"quotes": </code>
                            <code class="multiDataContainer">
                                 <code class="open_curly_rackets">{</code>
                                    <code class="idBoxMultiInnerFive" aria-expanded="true">
                                       <code class="insideIdBoxMultiInner">
                                            <code class="dataCountContainer">
                                                <code class="apiNameTitle">"count": </code>
                                                <code class="api_drink_name">"{{ tags_data.count }}", </code>
                                            </code>
                                            <code class="dataNextContainer">
                                                <code class="apiNameTitle">"next": </code>
                                                <code class="api_drink_name">"{{ tags_data.next }}", </code>
                                            </code>
                                            <code class="dataPrevContainer">
                                               <code class="apiNameTitle">"previous": </code>
                                                <code class="api_drink_name">"{{ tags_data.previous }}", </code>
                                            </code>
                                            <code class="dataResultsContainer">
                                                <code class="apiNameTitle">"results": </code>
                                                <code class="open_curly_rackets api_drink_name">[</code>
                                            </code>

                                                {% for i  in tags_data.results %}
                                                <code class="idBoxMultiInnerSix" aria-expanded="true">
                                                     <code class="results_data_open_curly_rackets">{</code>
                                                    {% for t, u in i.items %}
                                                    <code class="resultsDataValueKeyContainer">
                                                        <code class="apiResultsKey">{{ t }}:</code>
                                                        <code class="apiResultsValue">{{ u }},</code>
                                                    </code>

                                                    {% endfor %}
                                                     <code class="results_data_closed_curly_brackets">},</code>
                                                </code>
                                                {% endfor %}
                                            <code class="results_data_closed_curly_brackets off_closed_bracket">],</code>
                                            </code>
                                   </code>


                                 <code class="closed_curly_brackets">},</code>
                            </code>
                        </pre>
                    </div>

                    <code class="closed_curly_brackets">}</code>
                </div>

                <div class="aboutInfoContainer">
                    <div class="aboutDataContainer">
                        <div class="aboutDataTitle">
                            Daily Quotes API
                        </div>
                        <div class="aboutDataText">
                            <p>
                                <a href="https://en.wikipedia.org/wiki/API">Wikipedia</a>
                                 defines an application programming interface (API) as a way for two or more
                                computer programs or components to communicate with each other. It is a type
                                of software interface, offering a service to other pieces of software.[1]
                                A document or standard that describes how to build or use such a connection or
                                interface is called an API specification. A computer system that meets this
                                standard is said to implement or expose an API. The term API may refer either
                                to the specification or to the implementation. Whereas a system's user interface
                                dictates how its end-users interact with the system in question, its API dictates
                                how to write code that takes advantage of that system's capabilities.
                            </p>
                        </div>
                    </div>

                    <div class="aboutDataContainer">
                        <div class="aboutDataTitle">
                            What's the Daily Quotes API About?
                        </div>
                        <div class="aboutDataText">
                            <p>
                                It's an old project that started with the freeCodeCamp frontend quote machine project.
                                After completing that project I did the proejct again in python, storing hundreds of quotes in
                                a CVS. After learning the basics of the Django Rest Framework, I wanted to make the quotes
                                available to anyone that wanted another data set to practice on.
                            </p>
                        </div>
                    </div>

                    <div class="aboutDataContainer">
                        <div class="aboutDataTitle">
                            Whats the Technology Stack?
                        </div>
                        <div class="aboutDataText">
                            <ul>
                                <li>Python</li>
                                <li>Django</li>
                                <li>Django Rest Framework</li>
                                <li>Javascript</li>
                                <li>Postgres</li>
                                <li>Digital Ocean</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}>

